
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@model ResetPasswordViewModel
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Yeni Şifre Oluşturma</h2>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>


        <form asp-action="ResetPassword" asp-controller="UserProfile" asp-area="Account" method="post">

            <div class="row mb-3">
                <label for="OldPassword" class="col-md-4 col-form-label" asp-for="OldPassword"></label>
                <div class="col-md-8">
                    <input asp-for="OldPassword" type="OldPassword" class="form-control">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="OldPassword" class="col-md-4 col-form-label" asp-for="NewPassword"></label>
                <div class="col-md-8">
                    <input asp-for="NewPassword" type="OldPassword" class="form-control">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="ConfirmPassword"></label>
                <div class="col-md-8">
                    <input asp-for="ConfirmPassword" type="password" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Şifre Güncelle</button>
                </div>
            </div>

        </form>
    </div>
</div>